In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/daiangan/Python Virtual Environments/venv_dataspell1/lib/python3.9/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/daiangan/Python Virtual Environments/venv_dataspell1/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/daiangan/Python Virtual Environments/venv_dataspell1/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/daiangan/Python Virtual Environments/venv_dataspell1/lib/python3.9/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /Users/daiangan/Python Virtual Environments/venv_dataspell1/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.3.1; however, version 23.2.1 is available.
You should consider upgrading via the '/Users/daiangan/Python Virtual Environments/venv_dataspell1/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

# Importa los datos
data = pd.read_csv("files/ViZieR_cum_glob.tsv", delimiter="|")

# Filtra los datos sin distancia al sol
data = data.dropna(subset=['Rsun'])

data.head()

,_RAJ2000,_DEJ2000,ID,RAJ2000,DEJ2000,GLON,GLAT,Rsun,Rgc,Vt,[Fe/H],SpT,c,Rh
0,6.021667,-72.080833,NGC 104,00 24 05.2,-72 04 51,305.90,-44.89,4.3,7.3,3.95,-0.76,G4,2.04,2.79
1,13.197917,-26.590000,NGC 288,00 52 47.5,-26 35 24,152.28,-89.38,8.1,11.4,8.09,-1.24,,0.96,2.22
2,15.809583,-70.848333,NGC 362,01 03 14.3,-70 50 54,301.53,-46.25,8.3,9.2,6.40,-1.16,F9,1.94,0.81
3,48.063750,-55.216944,NGC 1261,03 12 15.3,-55 13 01,270.54,-52.13,16.0,17.9,8.29,-1.35,F7,1.27,0.75
4,53.345833,79.580556,Pal 1,03 33 23.0,+79 34 50,130.07,19.03,9.7,15.9,13.52,-0.80,,1.50,0.48